{{- $profile := promptStringOnce . "profile" "Profile (personal/work)" -}}
{{- $role := promptStringOnce . "role" "Role (mac/work/homelab/steamdeck)" -}}

[data]
    profile = {{ $profile | quote }}
    role = {{ $role | quote }}

[git]
    autoCommit = false
    autoPush = false
